body{
    margin: 0;
}

.scrolled {
    background-color: black;
  }
  
  .logo1{
      width: 20%;
      height: 10%;
  }
  
  .logoNav {
    width: 25%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-image-primavera {
    background-image: url("../../../assets/img/primaverabanner.png");
    background-size: cover;
  }

  .logoBanner{
    width: 150%;

  }

  .txtC{
    font-weight: bold;
  }